.jsCoursePageContainer{
    margin-top: 30px;
    width: 100%;
}

.jsGraphicsNavigation{
    width: 25%;
}

.jsGraphicsArea{
    width: 50%;
}

h1{
    text-align: center;
}

.jsLeftMenuItem.jsItemClicked {
    color: red;
    font-weight: bold;
}

.jsLeftMenuItem {
    color: black;
    font-weight: normal;
}